<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/address.css">
    <link rel="stylesheet" type="text/css" href="../css/news-letter.css">
    <link rel="stylesheet" type="text/css" href="../css/footer.css">
    <title>Document</title>
</head>
<body>
    <div id="header">
        <div class="nav-global">
            <div class="container">
                <h1 class="nav-logo">
                    <router-link to="/"></router-link>
                </h1>
                <ul class="nav-aside">
                    <li class="nav-user">
                        <a href="javascript:;">User Center</a>
                        <!--active-->
                        <div class="nav-user-wrapper">
                            <div class="nav-user-list">
                                <dl class="nav-user-avatar">
                                    <dd><span class="ng-scope"></span></dd>
                                    <dt class="ng-binding">Your Name</dt>
                                </dl>
                                <ul>
                                    <li class="order"><a href="javascript:;">My Orders</a></li>
                                    <li class="support"><a href="javascript:;">After Service</a></li>
                                    <li class="coupon"><a href="javascript:;">Discount</a></li>
                                    <li class="information"><a href="javascript:;">Account</a></li>
                                    <li class="address"><a href="javascript:;">Delivery</a></li>
                                    <li class="logout"><a href="javascript:;">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                   
                    <!-- 购物车 -->
                    <li class="nav-cart" style="display: none">
                        <a href="javascript:;" class="ball-rect">Shop Cart</a>
                        <span class="cart-empty-num " class="cart-num">
                            <i>8</i>
                        </span>
                        <div class="nav-cart-wrapper" >
                            <div class="nav-cart-list">
                                <div class="empty" >
                                    <h3>Shopping cart is empty</h3>
                                    <p>You haven't bought any goods yet. Now go to the mall to buy!</p>
                                </div>
                                <div class="full" >
                                    <div class="nav-cart-items">
                                        <ul>
                                            <li class="clear" >
                                                <div class="cart-item js-cart-item cart-item-sell">
                                                    <div class="cart-item-inner">
                                                        <div class="item-thumb">
                                                            <img src="../assets/img/product-img/product1.jpg" width="30px">
                                                        </div>
                                                        <div class="item-desc">
                                                            <div class="cart-cell">
                                                                <h4> 
                                                                    <a href="#/item/100027401">product_name</a>
                                                                </h4>
                                                                <h6>
                                                                    <span class="price-icon">$</span><span class="price-num">20</span><span class="item-num">x 5</span>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                        <div class="del-btn">删除</div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="nav-cart-total">
                                        <p>Quantity: <strong class="ng-binding">8</strong></p>
                                        <h5>Total：<span class="price-icon" style="font-size:18px;">$ </span><span class="price-num ng-binding" ng-bind="cartMenu.totalPrice">100</span></h5>
                                        <h6>
                                            <router-link to='/cart' class="nav-cart-btn">Go to cart</router-link>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <transition
                            name="ball"
                            @before-enter="beforeEnter"
                            @enter="enter"
                            @after-enter="afterEnter"
                        >
                            <div class="addcart-mast" v-show="ball.show">
                                <img class="mask-item" />
                            </div>
                        </transition>
                    </li>
                    
                </ul>
                <ul class="nav-list">
                    <li><a href="javascript:;">Home</a></li>
                    <li><a href="javascript:;">Shop</a></li>
                    <li><a href="javascript:;">Spring</a></li>
                    <li><a href="javascript:;">Hot</a></li>
                    <li><a href="javascript:;">Fathion</a></li>
                    <li><a href="javascript:;">NewBest</a></li>
                    <li><a href="javascript:;">Search</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="account-content">
        <div class="account-address">
            <div class="gray-box clear">
                <div class="title pre-title">
                    <h2 class="fn-left">Receipt information</h2>
                    <span class="gray-blue-btn js-add-address"><a class="add" @click="addReceive">Add Address</a></span>
                </div>
                <div class="box-inner clear">
                    <div v-if="receiveInfo.length">
                      <div class="address-list-item default-item" v-for="receive,index in receiveInfo">
                        <div class="name fn-left">
                            <div class="name-cell">lao feng</div>
                        </div>
                        <div class="detail fn-left">
                            <div class="detail-cell">heilongjiang harbin nangang buka</div>
                        </div>
                        <div class="operation fn-right">
                            <div class="operation-cell">
                                <a class="gray-edit-btn js-edit-address" ">modify</a>
                                <span class="red-del-btn js-del-address"> <a>delete</a><em>delete</em> </span>
                            </div>
                        </div>
                        <div class="default fn-right">
                          <span >（default）</span>
                          <a >default</a>
                        </div>
                        <div class="telephone fn-right">18145699653</div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 显示增加 -->
    </div>

    <section class="newsletter-area section-padding-100-0">
            <div class="newsletter-text ">
                <h2>Subscribe for a <span>25% Discount</span></h2>
                <p>Nulla ac convallis lorem, eget euismod nisl. Donec in libero sit amet mi vulputate consectetur. Donec auctor interdum purus, ac finibus massa bibendum nec.</p>
            </div>
            <div class="newsletter-form">
                <form action="#" method="post">
                    <input type="email" name="email" class="nl-email" placeholder="Your E-mail">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
    </section>

    <footer class="footer_area clearfix">
            <div class="footer_left">
                <div class="footer-logo ">
                    <a href="index.html"><img src="../assets/img/core-img/logo2.png" alt=""></a>
                </div>
                <p class="copywrite">
                    Copyright &copy;2020 All rights reserved </br>This template is made with teacher for student
                </p>
            </div>
            <div class="footer_menu">
                <nav class="navbar navbar-expand-lg justify-content-end">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                    <div class="collapse navbar-collapse" id="footerNavContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Product</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Cart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Checkout</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
    </footer>
</body>
</html>